@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #002147;
  --color-accent:  #f97316;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: (#F8F8FF);
}

.text-primary { color: var(--color-primary) !important; }
.text-accent  { color: var(--color-accent)  !important; }
